body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    background: lightgrey;
    height: 100%;
    
}
#footer {
    position:fixed ;
    left: 0;
    bottom: 0;
    width: 100%;
}
